/* "slide-wrapper" */
.slides-all {
  overflow: hidden;
}

/* "slide" */
.slide-item {
  display: flex;
}

/* "slide" */
.slide-item li {
  flex-shrink: 0;
  width: 80vw;
  max-width: 800px;
  margin: 0 20px;
}

/* "slide" */
.slide-item img {
  border-radius: 1rem;
}
