* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box !important;
  -webkit-font-smoothing: antialiased;
  font-family: "Inter", sans-serif;
  color: #fff;
}

html {
  font-size: 62.5%;
  background-color: #000000;
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
p,
span {
  font-family: "Lora";
}

.container {
  margin: 0 auto;
  padding: 0 2rem;
  width: 100%;
}

#particles-stars {
  position: fixed;
  z-index: -999;
  pointer-events: none;
}
